<script>
$(document).ready(function(){
var engine = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {"url":'/search?q=%QUERY',
  wildcard: '%QUERY',
  filter: function (parsedResponse) {
    console.log(parsedResponse);
    return parsedResponse;
    }
  }
});

$("#project_member_user_id").typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
  <%#display: '_source.id',%>
  limit: 10,
  source: engine,
    displayKey: function (engine) {
                return engine._source.username;
            },
    updater: function (engine) {
        $( "#userId" ).val(engine._source.username);
        return item;
    },
  templates: {
    empty: [
      '<div class="empty-message">',
        'no result',
      '</div>'
    ].join('\n'),
    suggestion: Handlebars.compile('<div>{{_source.email}} <em>[{{_source.username}}]</em></div>')
  }
});
});

</script>
<%= form_for(@project.project_member.new) do |f| %>
    <%= render 'layouts/errors', object: f.object %>

    <%#= f.collection_select :user_id, User.where('id not in (?)', @project.user_id), :id, :email, {}, {class: "form-control"}  %>
    <%= f.hidden_field :project_id, value: @project.id %>
    <%#= f.label :user_id , class: 'control-label'%>
    <div class="input-group">
        <%= f.text_field :user_id , class: 'typeahead form-control', autocomplete: "off" ,
                                      placeholder: "search user"%>
      <div class="input-group-btn">
    <%= f.submit "Add user", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
      </div>
    </div>

<% end %>
