<%= form_for(@project.project_conversation.new, remote: true) do |f| %>
    <%= render 'layouts/errors', object: f.object %>

    <%= f.hidden_field :project_id, value: @project.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="input-group">
      <%= f.text_field :content, autocomplete: "off"  , autofocus: true , class: 'form-control' %>
      <div class="input-group-btn">
        <%= f.submit "send", class: "btn btn-primary",
            data: { disable_with: "Please wait..." } %>
      </div>
    </div>

<% end %>
