<p id="notice"><%= notice %></p>

<h1>Listing Registered Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects_in.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.user.email %></td>
        <td><%= link_to 'Show', project if policy(project).show? %></td>
        <td><%= link_to 'Edit', edit_project_path(project) if policy(project).edit? %></td>
        <td><%= link_to 'Destroy', project, method: :delete,
          data: { confirm: 'Are you sure?' } if policy(project).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
