<p id="notice"><%= notice %></p>

<h1>Project Members</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_members.each do |project_member| %>
      <% next if project_member.owner %>
      <tr>
        <td><%= User.find(project_member.user_id).email %></td>
        <td><%= Project.find(project_member.project_id).name %></td>
        <td>
        <%= form_for(project_member, html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :user_id , project_member.user_id %>
            <%= hidden_field_tag :project_id , project_member.project_id %>
            <%= f.submit "Destroy", class: "btn btn-mini btn-link" , data: { disable_with: "Please wait..." } %>
        <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
