<% @milestones_board.each do |milestone| %>
    <% if @project.uses_milestones? %>
        <h5 class="task-milestone-<%=milestone.date_state_in_words%> text-center">
            <% if policy(milestone).destroy? %>
            <%= form_for(milestone, html: { method: :delete }) do |f| %>
                <%= hidden_field_tag :project_id , @project.id %>
                <%= button_tag(class: "btn btn-xs btn-link pull-right remove-milestone",
                               data: { disable_with: "Please wait..." }) do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                        data-toggle="tooltip" data-placement="left"
                        title="Remove milestone" ></span>
                <%end%>
            <% end %>
            <%= link_to edit_milestone_path(milestone.id), {class: "pull-right remove-milestone",
                                                            remote: true,
                                                            'data-target' => "layouts/modal",
                                                'data-target' => '#modal-edit-milestone'} do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"
                        data-toggle="tooltip" data-placement="left"
                        title="Edit milestone" ></span>
          <% end %>
          <% end %>
            <strong> Milestone: </strong>
            <%= milestone.full_title %>
        </h5>
    <% end %>
<% @tasks = milestone.task.rank(:row_order).where(state: state) %>
<table class="table table-condensed project" id="sortable-<%=state.downcase%>-<%=milestone.id%>" >
  <% @tasks.each do |task| %>
  <tbody data-item-id=<%= "#{task.id}" %> class="task-item" >
      <tr class="task-title" >
        <td data-toggle="collapse" href="<%="#task-#{task.id}"%>" colspan="9"><%= task.title %></td>
        <td>
        </td>
        <td>
          <% if !(milestone.id == Project.find(task.project_id).first_milestone.id) %>
            <%= render partial: "task_control_button", locals: { task_id: task.id, state: state,
                                                       function: "postpone_task",
                                                       icon: "remove"} %>
        <% else %>
            <%= render partial: "task_control_button", locals: { task_id: task.id, state: state,
                                                       function: "send_current_milestone",
                                                       icon: "arrow-down"} %>
        <% end %>
        </td>
        <td>
            <%= render partial: "task_control_button", locals: { task_id: task.id, state: state,
                                                       function: "send_next_state",
                                                       icon: "step-forward"} %>
        </td>
      </tr>
      <tr id="<%="task-#{task.id}"%>" class="task-detail collapse out" >
        <td  colspan="11">
          <em>
              <%#= Milestone.find(task.milestone_id).full_title if task.milestone_id.present?%>
              <strong>Description: </strong><%= task.description%>
          </em><br/>
          <strong>Owner: </strong><%= User.find(task.creator_id).email %> <br/>
          <strong>Assigned to: </strong><%= User.find(task.assignee_id).email if task.assignee_id.present?%> <br/>
          <strong>Estimate: </strong><%= task.estimate if task.estimate.present?%> <br/>
        </td>
        <td class="pull-right">
          <%= link_to edit_task_path(task.id), {class: "btn btn-default btn-xs", remote: true,
                                                'data-target' => "layouts/modal",
                                                'data-target' => '#modal-edit-task'} do %>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          <% end %>
        </td>
        <td class="pull-right">
          <%= form_for(task, html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :project_id , @project.id %>
            <%= button_tag(class: "btn btn-xs", data: { disable_with: "Please wait..." }) do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
            <%#= f.submit "Destroy", class: "btn btn-mini btn-link" , data: { disable_with: "Please wait..." } %>
          <% end %>
        </td>
        </td>
        <td class="pull-right">
            <button type="button" class="btn btn-xs btn-success"
                data-toggle="collapse" data-target="<%="#task-#{task.id}"%>">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
        </td>
      </tr>
  </tbody>
    <% end %>
</table>
<% end %>
