<h1> Project Name: <%= @project.name %> </h1>
<h2>
  <strong>Owner:</strong>
  <%= @project.user.email %>
</h2>
<%= collection_select :project, :id, current_user.projects, :id, :name,
    {:selected => params[:id]},
    {:onchange => "window.location = '/projects/'+ value;", class: "form-control"}%>

<%= form_for(@project) do |f| %>
    <%= render 'layouts/errors', object: f.object %>

    <div class="form-group">
      <%= f.label :name , class: 'control-label' %><br>
      <%= f.text_field :name , class: 'form-control' %>
      <span class="help-block"></span>
    </div>

    <%= f.label :description , class: 'control-label' %><br>
    <%= f.text_field :description , class: 'form-control' %>

    <%= f.submit "Apply changes", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
<% end %>

<div class="row">
  <div class="col-md-6">
  <%= render 'project_members_show' %>
  <%= render 'add_member' %>
  <%= render 'milestones' %>
  <%= render 'add_milestone' %>
  </div>
  <div class="col-md-6">
  <%= render 'tasks' %>
  <%= render 'add_task' %>
  </div>
</div>
