<!--<p id="notice"><%#= notice %></p>-->

<%= collection_select :project, :id, current_user.projects, :id, :name,
    {:selected => params[:id]},
    {:onchange => "window.location = '/projects/'+ value;", class: "form-control"}%>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.user.email %>
</p>
<div class="row">
  <div class="col-md-4">
    <%= render partial: "task_state_backlog", locals: {state: "Backlog" } %>
  </div>
  <div class="col-md-4">
    <%= render partial: "task_state", locals: {state: "Progress" } %>
  </div>
  <div class="col-md-4">
    <%= render partial: "task_state", locals: {state: "Done" } %>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
