<!--
<p class="project-dsc"><small> <strong>Project name:</strong><%#= @project.name %></small></p>
<p class="project-dsc"><small><strong>Description:</strong> <%#= @project.description %></small></p>
<p class="project-dsc"><small><strong>Owner:</strong> <%#= @project.user.email %></small></p>
-->
<div class="container">
<div class="row">
  <div class="col-md-4 project-board">
    <h4 class="board-task-header text-center"><strong>Backlog</strong>
      <button type="button" class="btn btn-xs board-task-header-btn" data-toggle="modal"
        data-target="#modal-add-task">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"
          data-toggle="tooltip" data-placement="left" title="Add Task" >
      </span></button>
      <button type="button" class="btn btn-xs board-task-header-btn" data-toggle="modal"
        data-target="#modal-add-milestone">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"
          data-toggle="tooltip" data-placement="left" title="Add Milestone" >
      </span></button>
    </h4>
    <div class="board-scroll">
      <%= render partial: "task_state_backlog", locals: {state: "Backlog" } %>
    </div>
  </div>
  <div class="col-md-4 project-board">
    <h4 class="board-task-header text-center"><strong>In Progress</strong></h4>
    <div class="board-scroll">
      <%= render partial: "task_state", locals: {state: "Progress" } %>
    </div>
  </div>
  <div class="col-md-4 project-board">
    <h4 class="board-task-header text-center"><strong>Done</strong></h4>
    <div class="board-scroll">
      <%= render partial: "task_state", locals: {state: "Done" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 project-conversation">
    <div class="conversation-box">
      <div class="load-more text-center"></div>
      <div class="conversation-scroll">
        <%= render partial: "project_conversation",
          collection: @project_conversations.sort { |x,y| x.created_at <=> y.created_at } %>
      </div>
      <%= render "add_project_conversation" %>
      <div class="hidden">
        <%= paginate @project_conversations %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<%= render partial: "layouts/modal", locals: {resource: "projects/add_task"} %>
<%= render partial: "layouts/modal", locals: {resource: "projects/add_milestone"} %>
<%= render partial: "layouts/modal", locals: {resource: "edit-task", remote: true} %>
<%= render partial: "layouts/modal", locals: {resource: "edit-milestone", remote: true} %>
<%#= link_to 'Add release', edit_milestone_path(15),
  {:remote => true, 'data-target' => "layouts/modal", 'data-target' => '#modal-edit-task'} %>
