<p id="notice"><%= notice %></p>

<%= collection_select :project, :id, current_user.projects, :id, :name,
    {:selected => params[:id]},
    {:onchange => "window.location = '/projects/'+ value;", class: "form-control"}%>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.user.email %>
</p>
<div class="row">
  <div class="col-md-6">
  <%= render 'project_members_show' %>
  <%= render 'add_member' %>
  <%= render 'tasks' %>
  <%= render 'add_task' %>
  </div>
  <div class="col-md-6">
  <%= render 'milestones' %>
  <%= render 'add_milestone' %>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
