<script>
makeProgressChart(<%= cumulative_sum sum_points_state(@project, 'Archived')%>,
                 [<%= sanitize milestone_highlight @project %>],
                 <%= start_date @project %>,'<%= @project.name %>');

makeBurndownChart(<%= current_milestone_burndown @project %>,
                  <%= ideal_milestone_burndown @project %>,
                  <%= int_epoch @project.current_milestone_start_date %>,
                  '<%= @project.name %>');
</script>

<h1>Statistics for <%= @project.name %></h1>
<h2>Started at <%= @project.start_time %></h2>

<% if @project.uses_milestones? %>
<div class="col-md-12">
  <div id="burndownChart"></div>
</div>
<% end %>

<div class="col-md-12">
  <div id="progressChart" ></div>
</div>
